<button  ng-click="Main.makeABaby()" type="button" class="btn btn-info big-text">
  Make A Baby
</button>
<br />
<br />
<button ng-click="Main.previous()" ng-show="Main.currentBaby > 0" type="button" class="btn btn-success">
  Previous
</button>
<button ng-click="Main.next()" ng-show="Main.currentBaby < Main.babies.length - 1" type="button" class="btn btn-warning">
  Next
</button>
<div ng-show="Main.showResult" class="bigger-text">
  <p>
    Make a baby with
  </p>
  <p class="big-text"><a ng-href="{{Main.momApi.url}}" target="_blank">{{Main.momApi.name}}</a></p>
  <p>
    and
  </p>
  <p class="big-text"><a ng-href="{{Main.dadApi.url}}" target="_blank">{{Main.dadApi.name}}</a></p>
  <button ng-click="Main.previous()" ng-show="Main.currentBaby > 0" type="button" class="btn btn-success">
    Previous
  </button>
  <button ng-click="Main.next()" ng-show="Main.currentBaby < Main.babies.length - 1" type="button" class="btn btn-warning">
    Next
  </button>
  <br>
  <div ng-show="Main.share" style="font-size:0.5em;">
    <p>
      Share this URL:
    </p>
    <a ng-href="{{Main.shareURL}}" target="_blank">{{Main.shareURL}}</a>
  </div>
  <button ng-click="Main.share = !Main.share" type="button" class="btn btn-primary">
    Share
  </button>
</div>
